.contact-form-container {
    padding: 40px;
    background: linear-gradient(135deg, #d97706, #d77124); /* Adjust gradient as needed */
    color: white;
    font-family: 'K2D', sans-serif;
  }
  
  .form-content {
    padding: 20px; /* Adjust padding as needed */
  }
  
  .form-content h2 {
    font-size: 2.5rem;
    font-weight: 800 !important;
    color: black; /* Adjust as needed */
    font-family: 'Julius Sans One', sans-serif;

  }
  
  .form-content p {
    font-size: 1.3rem;
    color: white; /* Adjust as needed */
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form .form-group label {
    margin-bottom: 5px;
    color: black; /* Adjust as needed */
  }
  
  .contact-form .form-control {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: #333;
  }
  
  .contact-form .form-control::placeholder {
    color: #999;
  }
  
  .contact-form .btn-submit {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .contact-form .btn-submit:hover {
    background-color: #333;
  }
  