/* src/styles/Contact.css */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
}

.contact-form h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.contact-form p {
  font-size: 1.2em;
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.contact-form button {
  background-color: #d97706;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e07b1f;
}

.contact-map {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
