.footer {
  background: linear-gradient(to right, #D77124, #ED9A2B); /* Orange gradient */
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  justify-content: space-between; /* Space out the content horizontally */
  align-items: flex-start; /* Align items to the start for vertical alignment */
  text-align: center;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.footer-logo img {
  max-width: 150px; /* Adjust as needed */
}

.footer-info {
  margin: 0 10px; /* Reduce horizontal margin */
  text-align: left; /* Align text to the left */
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column; /* Align items vertically */
  gap: 5px; /* Reduce space between items */
  text-align: left; /* Align text to the left */
  padding-left: 10px; /* Add left padding */
}

.footer-links ul li {
  cursor: pointer;
}

.footer-social {
  margin-left: 10px; /* Reduce left margin */
  padding-right: 10px; /* Reduce right padding */
  text-align: left;
}

.follow-us-header {
  text-align: center; /* Center the Follow Us header */
}

.social-icons {
  display: flex;
  flex-direction: column; /* Arrange icons vertically */
  gap: 5px;
  align-items: flex-start; /* Align items to the left */
}

.social-icons a {
  color: white;
  text-decoration: none;
}

.social-icons a:hover {
  text-decoration: underline;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: center;
  }

  .footer-info, .footer-links, .footer-social {
    margin-bottom: 10px; /* Reduce vertical spacing */
  }

  .footer-info, .footer-social {
    text-align: center; /* Center text on smaller screens */
  }
}
