header.navbar {
  background: linear-gradient(to right, #D77124, #ED9A2B); /* Keep the orange gradient */
  padding: 10px 20px;
  font-family: 'K2D', sans-serif;
}

.navbar-brand img {
  height: 50px; /* Adjust the height as needed */
}

.navbar-nav {
  margin-left: auto; /* Align the navigation links to the right */
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 15px;
  font-size: large;
  text-decoration: none;
  font-weight: bold; /* Make the nav links bold */
  position: relative;
  display: inline-block;
}

.navbar-nav .nav-link:not(.btn-login)::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:not(.btn-login):hover::before {
  visibility: visible;
  width: 100%;
}

.navbar-nav .nav-link.btn-login {
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.navbar-nav .nav-link.btn-login:hover {
  background-color: #333;
}
