.services-hero {
  background: url('../images/services.png') no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  height: 90vh;
  text-align: center;
  color: white;
}

.services-hero h1 {
  font-size: 3em;
  margin: 0;
}

.services-content {
  padding: 40px 0;
  background-color: #f7f7f7;
}

.service-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.service-icon {
  max-width: 100px;
  margin-bottom: 15px;
}

.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-item p {
  color: #666;
}

.learn-more-button {
  padding: 10px 20px;
  background-color: #d97706;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.learn-more-button:hover {
  background-color: #bf6904;
}
